<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="login-form" action="/signup" method="POST">
            <% if (Boolean(errorMessage.length)) { %>
                <div class="alert alert-danger" role="alert">
                    <%= errorMessage %>
                </div>
            <% } %>

            <% if (Boolean(errorValidation.length)) { %>
                <div class="alert alert-danger" role="alert">
                    <%- errorValidation %>
                </div>
            <% } %>
            
            <div class="form-control">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="<%= name %>">
            </div>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" value="<%= email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Signup</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>